# Ignore everything
*

# Not these files
!.bin
!.bin/**
!.emacs
!.emacs.d
!.emacs.d/**
!.gitignore
!.tmux.conf
!.vimrc
!.vim
!.vim/colors
!.vim/colors/**
!.bash_aliases
!.setup
!.setup/**
!.docker
!.docker/**
!.vimperatorrc
!.irssi
!.irssi/**
!.config
!.config/touchegg
!.config/touchegg/**


# Ignore these files anyway
.emacs.d/auto-save-list
.emacs.d/ac-comphist.dat
.irssi/away.log
