# Ignore everything
*

# Not these files
!.bin
!.bin/*
!.bin/*/*
!.bin/*/*/*
!.bin/*/*/*/*
!.bin/*/*/*/*/*
!.emacs
!.emacs.d
!.emacs.d/*
!.emacs.d/*/*
!.emacs.d/*/*/*
!.emacs.d/*/*/*/*
!.emacs.d/*/*/*/*/*
!.gitignore
!.tmux.conf
!.vimrc
!.bash_aliases
!.setup
!.setup/*
!.setup/*/*
!.setup/*/*/*

# Ignore these files anyway
.emacs.d/auto-save-list
.emacs.d/ac-comphist.dat
